/* SECTION: 새 이벤트 생성 버튼 */
.header > .create-event-btn {
  display: none;
}

.create-event-btn {
  background: var(--turq_btn);
  border: none;
  border-radius: 50%;
  bottom: 0;
  color: var(--white);
  height: 80px;
  margin: 0 2.5% 4em 0;
  position: absolute;
  right: 0;
  width: 80px;
  z-index: 3;
}

.create-event-btn:hover {
  background: var(--turq_btn_hover);
  cursor: pointer;
}

.create-event-icon.material-icons {
  font-size: 36px;
  font-weight: bold;
}

/* SECTION: 양식 레이아웃 */

.form {
  background: var(--grey);
  display: grid;
  grid-template-rows: 420px 80px;
  height: 500px;
  padding: 50px;
  place-items: center;
  width: 900px;
}

.form-content {
  background: var(--grey);
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 1fr 50%;
  grid-template-areas:
    'a a b'
    'c c b'
    'd e f'
    'g g f'
    'h h f';
  height: 420px;
  width: 800px;
}

.form-label {
  display: block;
}

.form-title {
  grid-area: a;
}

.form-topic {
  grid-area: b;
}

.form-pic {
  grid-area: c;
}

.form-beginat {
  grid-area: d;
}

.form-endat {
  grid-area: e;
}

.form-details {
  grid-area: f;
}

.form-location {
  grid-area: g;
}

.form-category {
  grid-area: h;
}

.form-label,
.form-title,
.form-pic,
.form-beginat,
.form-endat,
.form-location,
.form-category {
  margin: 0 16px 0 0;
}

.form-topic,
.form-details {
  margin: 0 0 0 16px;
}

/* SECTION: 양식 input field 별 레이아웃 */

.form-content > div {
  align-items: center;
  display: grid;
  grid-template-rows: 32px 1fr;
}

.form-oneline {
  border: none;
  height: 42px;
}

#event-topic {
  height: 126px;
}

#event-details {
  height: 210px;
}

#event-topic,
#event-details {
  border: none;
  resize: none;
}

/* SECTION: 버튼 레이아웃 & style */

.form-button {
  align-items: center;
  background: var(--grey);
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 800px;
}

.form-button-exit {
  background: var(--red_cancel_btn);
  border: none;
  color: var(--white);
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.form-button-exit:hover {
  background: var(--red_cancel_btn_hover);
}

.form-button-edit,
.form-button-new {
  background: var(--turq_btn);
  border: none;
  color: var(--white);
  cursor: pointer;
  height: 50px;
  width: 160px;
}

.form-button-edit:hover,
.form-button-new:hover {
  background: var(--turq_btn_hover);
}
