.layout-details {
  background: rgba(248, 248, 248, 0.9);
  display: none;
  height: 100vh;
  left: 0;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.details-content {
  background: var(--white);
  display: grid;
  max-width: 800px;
  width: 40%;
}

.category-button {
  display: flex;
  position: relative;
}

.duration-location {
  align-items: center;
  background: var(--turq_detail_title);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  line-height: 18px;
  min-height: 40px;
  padding: 20px 0;
}

.duration-location > div > i {
  font-size: 20px;
  vertical-align: -4.5px;
}

.details-duration {
  padding: 0 0 0 10%;
  width: 150px;
}

.details-location {
  padding: 10px 10%;
}

.details-exit-button {
  line-height: 30px;
  padding: 5px 0;
  position: absolute;
  right: 0px;
  top: 0px;
  vertical-align: -1;
}

.details-category,
.details-title,
.details-beginat {
  background: var(--turq_btn);
  color: var(--white);
}

.details-category {
  color: var(--white);
  line-height: 30px;
  padding: 5px 0;
  width: 100%;
}

.details-exit-button {
  background: var(--turq_btn);
  border: none;
  color: var(--white);
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.details-exit-button:hover {
  color: var(--details_exit_grey);
}

.details-title {
  line-height: 1.25em;
  padding: 1% 2.5em;
  word-break: break-word;
}

.details-beginat {
  line-height: 35px;
}

.pic-topic-details {
  background: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 80px;
  padding: 10px 0;
  place-items: center;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-word;
}

.details-pic,
.details-topic,
.details-details {
  line-height: normal;
  padding: 10px 0px;
  width: 80%;
  white-space: pre-wrap;
  word-break: break-word;
}

.details-details {
  display: flex;
  flex-direction: column;
}

.details-pic,
.details-pic-label,
.details-topic-label,
.details-details-label {
  height: 30px;
  line-height: 30px;
}

.details-topic-content {
  max-height: 100px;
  overflow: auto;
  -ms-overflow-style: none; /* for ie and edge */
  scrollbar-width: none; /* for firefox */
  width: 100%;
  word-break: break-word;
}

.details-topic-content::-webkit-scrollbar {
  display: none;
}

.details-details-content {
  max-height: 280px;
  overflow: auto;
  -ms-overflow-style: none; /* for ie and edge */
  scrollbar-width: none; /* for firefox */
  width: 100%;
}

.details-details-content::-webkit-scrollbar {
  display: none;
}

.notification-button {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50px;
  padding: 10px 50px 30px;
}

.details-myevent-button {
  background: var(--turq_btn);
  border: none;
  color: var(--white);
  cursor: pointer;
  float: right;
  height: 50px;
  line-height: 50px;
  width: 120px;
}

.details-myevent-button:hover {
  background: var(--turq_btn_hover);
}
