<section class="layout-form">
  <form action="/post/event" method="post">
    <label for="form-title">제목</label>
    <input id="form-title" type="text" />
    <label for="form-pic">발표자 / 담당자</label>
    <input id="form-pic" type="text" />
    <label for="form-beginat">시작 시간</label>
    <input id="form-beginat" type="datetime-local" />
    <label for="form-endat">종료 시간</label>
    <input id="form-endat" type="datetime-local" />
    <label for="form-location">장소</label>
    <input id="form-location" type="text" />
    <label for="form-category">카테고리</label>
    <select id="form-category">
      <option value="lecture"></option>
      <option value="exam"></option>
      <option value="contest"></option>
      <option value="conference"></option>
      <option value="community"></option>
    </select>
    <label for="form-topic">주제</label>
    <input id="form-topic" type="text" />
    <label for="form-details">상세설명</label>
    <input id="form-details" type="text" />
    <button type="submit">이벤트 생성</button>
  </form>
</section>
