<style>
  #event-promotion-text {
    border: none;
    resize: none;
    height: 90%;
  }
</style>

<section class="layout-promotion">
  <div class="promotion" autocomplete="off">
    <i class="material-icons"> content_copy </i>
    <textarea class="event-promotion-text" type="text"></textarea>
    <button class="form-button-exit text-bold" id="promotion-exit" type="button">닫기</button>
  </div>
</section>
