<section class="layout-promotion hidden">
  <div class="promotion" autocomplete="off">
    <div class="promotion-container">
      <i class="promotion-exit-button material-icons">clear</i>
      <div class="promotion-content-wrapper">
        <div class="promotion-content">
          <i class="promotion-copy-button material-icons">content_copy</i>
          <textarea class="promotion-text" type="text"></textarea>
        </div>
        <div class="promotion-url">
          <div class="promotion-url-text"></div>
        </div>
      </div>
    </div>
  </div>
</section>
