<section class="layout-details">
  <div class="details-content">
    <div class="category-button">
      <div class="details-category small text-bold text-center"></div>
      <div class="material-icons details-exit-button">clear</div>
    </div>
    <div class="details-title xlarge text-bold text-center"></div>
    <div class="details-beginat text-center"></div>
    <div class="duration-location">
      <div class="details-duration small"></div>
      <div class="details-location small"></div>
    </div>
    <div class="pic-topic-details">
      <div class="details-pic"></div>
      <div class="details-topic"></div>
      <div class="details-details"></div>
    </div>
    <div class="notification-button">
      <select id="details-notification" name="notification">
          <option value="none" selected >알림 설정하기</option>
          <option value="0">정각</option>
          <option value="5">5분전</option>
          <option value="15">15분전</option>
          <option value="30">30분전</option>
          <option value="60">1시간전</option>
        </optgroup>
      </select>
      <button class="details-myevent-button text-bold" type="button">내 이벤트로 등록</button>
      <button class="details-cancel-button text-bold" type="button">등록 취소</button>
    </div>
  </div>
</section>
