<%- contentFor('scriptFiles') %>
<script defer type="module" src="/javascripts/eventList/generateEventList.js"></script>
<%- contentFor('content') %>
<section class="eventlist"></section>
<%- contentFor('eventForm') %> <%- include('components/eventForm') %>
