<%- contentFor('content') %>
<!-- flex -->
<section class="created">
  <!-- 블록이 동적으로 생겨야함 -->
  <div class="created-info">
    <div class="today info-date">Thursday, JAN 13</div>
    <hr class="date-divider" />
    <div class="created-event-list">
      <div class="created-event-category category-lecture"></div>
      <div class="created-event-title">title</div>
      <div class="created-event-info">12:00 서초클</div>
      <div class="created-event-edit">
        <a href="#"><i class="material-icons-outlined"> edit_note </i></a>
      </div>
    </div>
  </div>

  <div class="created-info">
    <div class="info-date">Thursday, JAN 13</div>
    <hr class="date-divider" />
    <div class="created-event-list">
      <div class="created-event-category category-exam"></div>
      <div class="created-event-title">폴베님과 김빠진 콜라 많이 마시기 대회</div>
      <div class="created-event-info">12:00 서초클</div>
      <div class="created-event-edit">
        <a href="#"><i class="material-icons-outlined"> edit_note </i></a>
      </div>
    </div>
    <div class="created-event-list">
      <div class="created-event-category category-exam"></div>
      <div class="created-event-title">jiskim과 팝핀배틀</div>
      <div class="created-event-info">12:00 서초클</div>
      <div class="created-event-edit">
        <a href="#"><i class="material-icons-outlined"> edit_note </i></a>
      </div>
    </div>
    <div class="created-event-list">
      <div class="created-event-category category-exam"></div>
      <div class="created-event-title">title</div>
      <div class="created-event-info">12:00 서초클</div>
      <div class="created-event-edit">
        <a href="#"><i class="material-icons-outlined"> edit_note </i></a>
      </div>
    </div>
  </div>

  <div class="created-info">
    <div class="info-date">Thursday, JAN 13</div>
    <hr class="date-divider" />
    <div class="created-event-list">
      <div class="created-event-category category-contest"></div>
      <div class="created-event-title">title</div>
      <div class="created-event-info">12:00 서초클</div>
      <div class="created-event-edit">
        <a href="#"><i class="material-icons-outlined"> edit_note </i></a>
      </div>
    </div>
  </div>
</section>
