<%- contentFor('content') %>
<section class="calendar-month">
  <%# TODO: calendar grid 만들면서 날짜 넣어주는 .js 만들기 %>
  <div class="day-title">SUNDAY</div>
  <div class="day-title">MONDAY</div>
  <div class="day-title">TUESDAY</div>
  <div class="day-title">WEDNESDAY</div>
  <div class="day-title">THURSDAY</div>
  <div class="day-title">FRIDAY</div>
  <div class="day-title">SATURDAY</div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
  <div class="month-date"></div>
</section>
