<%- contentFor('scriptFiles') %>
<script defer type="module" src="/javascripts/generateCalendars/month/generateMonth.js"></script>
<script defer type="module" src="/javascripts/generateCalendars/month/changeMonth.js"></script>
<script defer type="module" src="/javascripts/generateCalendars/month/resizeHandler.js"></script>
<%- contentFor('content') %>
<section class="calendar-month">
  <%# TODO: calendar grid 만들면서 날짜 넣어주는 .js 만들기 %>
  <div class="day-title">SUN</div>
  <div class="day-title">MON</div>
  <div class="day-title">TUE</div>
  <div class="day-title">WED</div>
  <div class="day-title">THU</div>
  <div class="day-title">FRI</div>
  <div class="day-title">SAT</div>
</section>
<%- contentFor('eventForm') %> <%- include('components/eventForm') %>
