<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/favicons/our42vent.ico" rel="short icon" type="image/x-icon" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/stylesheets/style_desktop.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Rounded" />
  </head>
  <body class="login-body">
    <div class="layout-login">
      <img class="login-logo" src="/assets/images/our42vent_logo_white.svg" alt="our42vent logo" />
      <form action="/login/42" method="get">
        <button class="login-button xlarge text-bold" type="submit">LOG IN</button>
      </form>
      <p class="login-version small">v1.0.0</p>
    </div>
  </body>
</html>
