:root {
  --black: #000;
  --white: #fff;
  --grey: #c4c4c4;
  --header_bg: #2a2d38;
  --footer_font: #777;
  --turq_btn: #58b7ba;
  --red_cancel_btn: #e2667c;
  --red_cancel_btn_hover: #d9324f;
  --turq_btn_hover: #6d9fa1;

  /* 카테고리 색 */
  --category_lecture: #f26cd5;
  --category_exam: #e2667c;
  --category_contest: #79a0eb;
  --category_conference: #edf06b;
  --category_community: #68f0a0;
}
