@media (hover: hover) and (pointer: fine) {
  /* SECTION: login */

  .login-button:hover {
    background: var(--turq_btn_hover);
    cursor: pointer;
  }

  /* SECTION: header */

  .header-today.material-icons-outlined:hover,
  .header-new.material-icons-outlined:hover {
    color: var(--turq_btn_hover);
    cursor: pointer;
  }

  .header-title > .material-icons:hover {
    color: var(--light_grey);
    cursor: pointer;
  }

  .user-drop-button:hover > .user-username {
    color: var(--light_mint);
  }

  .user-drop-content li:hover {
    background: var(--light_grey);
  }

  /* SECTION: nav */

  .navbar-tab-inactive:hover {
    filter: contrast(1.05);
    transition: filter 0.2s ease-in;
  }

  .box-wrapper:hover {
    filter: contrast(1.2);
    transition: filter 0.3s ease-in-out;
  }

  .material-icons-outlined.category-scroll:hover {
    color: var(--white);
  }

  /* SECTION: 이벤트 리스트 */

  .list-content-icon label:hover {
    color: var(--turq_btn_hover) !important;
    cursor: pointer;
  }

  /* SECTION: 달력 띠지 */

  .month-label-single:hover,
  .month-more-button:hover {
    box-shadow: 1px 1px 1px var(--dark_grey);
  }

  .month-label-single:hover {
    background: rgba(235, 236, 240, 0.3);
  }

  /* SECTION: 이벤트 상세정보 */

  .details-exit-button:hover {
    color: var(--details_exit_grey);
  }

  .details-myevent-button:hover {
    background: var(--turq_btn_hover);
  }

  .details-cancel-button:hover {
    background: var(--red_cancel_btn_hover);
  }

  /* SECTION: 이벤트 생성 폼 */

  .form-button-exit:hover {
    background: var(--red_cancel_btn_hover);
  }

  .form-button-edit:hover,
  .form-button-new:hover {
    background: var(--turq_btn_hover);
  }

  main > .create-event-button:hover {
    background: var(--turq_btn_hover);
    cursor: pointer;
  }
}
