body {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-rows: 80px 50px 1fr 60px;
  height: inherit;
}

.login-body {
  background: black;
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100%;
}

.layout-login {
  display: grid;
  height: 320px;
  width: 480px;
  place-items: center;
}

.login-logo {
  width: 100px;
}

.login-version {
  color: var(--white);
}
