body {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-rows: 70px 50px 1fr 60px;
  height: inherit;
}

.login-body {
  background: black;
  display: grid;
  height: 100vh;
  place-items: center;
  width: 100%;
}

.layout-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 480px;
}

.layout-form {
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  height: 100vh;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

/* SECTION: display 형태 공통 적용 class */
.show {
  display: block;
}

.hidden {
  display: none;
}
