body {
  font-size: 14px;
}

.layout {
  grid-template-rows: 70px 1fr 60px;
}

.calendar-month {
  width: 99%;
}

.eventlist {
  min-width: 0px;
  width: 80%;
}

/* TODO : width 80% 99% 테스트 해보기 */
@media screen and (max-width: 768px) {
  .eventlist-list {
    align-items: center;
    display: grid;
    grid-template-areas:
      'a b e'
      'a c e';
    grid-template-columns: 16px calc(100% - 66px) 50px;
    margin: 0 0 12px 0;
  }

  .list-category {
    grid-area: a;
    height: 42px;
    margin: 1px 2px;
    min-width: 12px;
    width: 12px;
  }
}
