.eventlist {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  min-width: 864px;
  overflow: auto;
  -ms-overflow-style: none; /* for ie and edge */
  scrollbar-width: none; /* for firefox */
  width: 60%;
}

/* for Chrome, Safari and Opera */
.eventlist::-webkit-scrollbar {
  display: none;
}

.eventlist-no-content {
  color: var(--dark_grey);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.eventlist-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 40px 0;
  width: 100%;
}

.info-date {
  font-size: 1.25em;
  font-weight: bold;
}

.date-outdated {
  color: var(--grey_outdated) !important;
}

.date-divider {
  border: 0px;
  border-top: 1px solid var(--grey);
  width: 100%;
}

.eventlist-list {
  align-items: center;
  display: grid;
  grid-template-areas: 'category title time location icon';
  grid-template-columns: 16px calc(55% - 16px - 2.5em) 22.5% 22.5% 2.5em;
  margin: 0 0 5px 0;
}

.list-category {
  grid-area: category;
  height: 28px;
  margin: 1px 2px;
  min-width: 12px;
  width: 12px;
}

.list-content-title {
  cursor: pointer;
  grid-area: title;
  overflow: hidden;
  padding: 0 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-content-time {
  grid-area: time;
  padding: 0 3px 0 0;
  white-space: nowrap;
}

.list-content-time i {
  font-size: 1em;
  vertical-align: -2;
}

.list-content-location {
  grid-area: location;
  overflow: hidden;
  padding: 0 0 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-content-location i {
  font-size: 1em;
  vertical-align: -2;
}

.list-content-icon {
  grid-area: icon;
}

.list-edit {
  background: none;
  border: none;
  display: inline;
  padding: 0;
}

.list-delete {
  background: none;
  border: none;
  display: inline;
  padding: 0;
}

.list-content-icon i {
  font-size: 1em;
}
