.form {
  background: #c4c4c4;
  display: grid;
  grid-template-rows: 440px 60px;
  height: 500px;
  width: 900px;
  padding: 50px;
  place-items: center;
}

.form-content {
  background: #c4c4c4;
  display: grid;
  grid-template: repeat(5, 1fr) / 25% 25% 50%;
  grid-template-areas:
    'a a b'
    'c c b'
    'd e f'
    'g g f'
    'h h f';
  height: 440px;
  width: 800px;
}

.form-title {
  grid-area: a;
}

.form-topic {
  grid-area: b;
}

.form-pic {
  grid-area: c;
}

.form-beginat {
  grid-area: d;
}

.form-endat {
  grid-area: e;
}

.form-details {
  grid-area: f;
}

.form-location {
  grid-area: g;
}

.form-category {
  grid-area: h;
}

.form-button {
  display: flex;
  flex-direction: row-reverse;
  background: #c4c4c4;
  cursor: pointer;
  width: 800px;
}

.title-style {
  display: block;
  height: 40px;
  width: 350px;
}

.pic-style {
  display: block;
  height: 40px;
  width: 350px;
}

.beginat-style {
  display: block;
  height: 40px;
  width: 150px;
}

.endat-style {
  display: block;
  height: 40px;
  width: 150px;
}

.location-style {
  display: block;
  height: 40px;
  width: 350px;
}

.topic-style {
  display: block;
  height: 140px;
  resize: none;
  width: 400px;
}

.details-style {
  display: block;
  height: 210px;
  resize: none;
  width: 400px;
}

.category-style {
  display: block;
  height: 40px;
  width: 360px;
}

/* SECTION: 새 이벤트 생성 버튼 */

.create-event-btn {
  background: var(--turq_btn);
  border: none;
  border-radius: 50%;
  bottom: 0;
  color: var(--white);
  height: 80px;
  margin: 0 3.75% 2.5em 0;
  position: absolute;
  right: 0;
  width: 80px;
}

.create-event-btn:hover {
  background: var(--login_btn_hover);
}

.create-event-icon.material-icons {
  font-size: 36px;
  font-weight: bold;
}
