.footer {
  align-items: center;
  background: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-github {
  height: 1.25em;
  margin: 0.25em 0.25em 0;
  width: 1.25em;
}

.footer-email {
  height: 1.25em;
  margin: 0.25em 0.25em 0;
  width: 1.25em;
}

.footer-developers,
.footer-copyright {
  color: var(--footer_font);
  margin: 2px 0;
}
