.header {
  background: var(--header_bg);
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: 80px;
  place-items: center;
}

.header-logo-img {
  /* margin: 0 0 0 3em; */
  width: 84px;
}

.header-user {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 200px;
}

.user-username {
  color: var(--white);
  margin: 0 20px 0 0;
}

.user-image-wrapper {
  border-radius: 50%;
  display: grid;
  height: 42px;
  margin: 0 58px 0 10px;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 42px;
}

.user-imageurl {
  position: absolute;
  width: 56px;
}
