.header {
  background: var(--header_bg);
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: 80px;
  place-items: center;
}

/* SECTION: 로고 */

.header-logo-img {
  width: 84px;
}

/* SECTION: 사용자 dropdown */

.header-user {
  position: relative;
}

.user-drop-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 200px;
}

.user-username {
  color: var(--white);
  margin: 0 20px 0 0;
}

.user-image-wrapper {
  border-radius: 50%;
  display: grid;
  height: 42px;
  margin: 0 58px 0 10px;
  overflow: hidden;
  place-items: center;
  position: relative;
  width: 42px;
}

.user-imageurl {
  position: absolute;
  width: 56px;
}

.user-drop-button:hover > .user-username {
  color: var(--light_mint);
}

.user-drop-content {
  background: var(--white);
  border: 1px solid var(--header_bg);
  border-top: none;
  color: var(--header_bg);
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  width: 160px;
}

.user-drop-content li {
  padding: 1em 0;
}

.user-drop-content li:hover {
  background: var(--light_grey);
}
