.login-logo {
  margin: 40px 0 80px;
  width: 320px;
}

.login-version {
  color: var(--white);
  margin: 10px 0 0;
}

.login-button {
  background: var(--turq_btn);
  border: none;
  color: var(--white);
  height: 50px;
  width: 320px;
}

@media screen and (max-width: 768px) {
  .layout-login,
  .login-logo,
  .login-button {
    max-width: 320px;
    width: 80vw;
  }
}
