.main {
  display: grid;
  height: calc(100vh - 120px);
  place-items: center;
  position: relative;
}

/* SECTION: 월단위 캘린더 */

.calendar-month {
  border-left: var(--calendar_border) solid 1px;
  border-top: var(--calendar_border) solid 1px;
  display: grid;
  grid-template: 20px repeat(5, 1fr) / repeat(7, 1fr);
  height: 99%;
  width: 80%;
}

.day-title {
  text-align: center;
}

.day-title,
.month-date {
  border-right: var(--calendar_border) solid 1px;
  border-bottom: var(--calendar_border) solid 1px;
}

.day-title {
  border-bottom: var(--calendar_border_two) solid 1px;
}

/* SECTION: 주단위 캘린더 */

/* SECTION: 내가 만든 이벤트 리스트 */
