/* SECTION: 월단위 캘린더 */

.calendar-month {
  border-left: var(--calendar_border) solid 1px;
  border-top: var(--calendar_border) solid 1px;
  display: grid;
  grid-template: 20px repeat(5, 1fr) / repeat(7, 1fr);
  height: 99%;
  width: 80%;
}

.day-title {
  text-align: center;
}

.day-title,
.month-date {
  border-right: var(--calendar_border) solid 1px;
  border-bottom: var(--calendar_border) solid 1px;
}

.month-date {
  display: grid;
  grid-template-rows: 20px calc(100% - 20px);
  min-width: 80.45px;
  position: relative;
}

.month-date-day {
  margin: 3px;
}

.month-date-events {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  vertical-align: middle;
}

.month-label-single,
.month-label-multi {
  border-radius: 5px;
  height: 22px;
  line-height: 24px;
  margin: 1px;
  overflow: hidden;
  padding: 0 0 0 8px;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.month-label-single {
  z-index: 1;
}

.month-label-multi {
  position: absolute;
  z-index: 2;
}

.month-date-more {
  background: var(--light_grey);
  border-radius: 5px;
  height: 20px;
  line-height: 22px;
  margin: 1px;
  padding: 0 0 0 8px;
  vertical-align: middle;
}

.sunday {
  color: var(--sunday_red);
}
