/* SECTION : 모바일에서만 필요한 요소 비활성화 */

.toggle-divider {
  display: none;
}

.navbar-toggle-all.category-item {
  display: none;
}

.navbar-toggle-my.category-item {
  display: none;
}

.toggle-user {
  display: none;
}

/* SECTION : 네비바 생성 */

nav {
  align-items: center;
  background: var(--grey);
}

.navbar {
  align-items: center;
  display: grid;
  grid-template-areas: 'tab category';
  grid-template-columns: 400px calc(100% - 400px);
  margin: auto;
  width: 80%;
}

.navbar-tab {
  display: flex;
  grid-area: tab;
  height: 24px;
  line-height: 30px;
}

.navbar-tab-active {
  fill: var(--white);
  z-index: 3;
}

.navbar-tab-inactive {
  fill: var(--tab_inactive);
  filter: contrast(1);
  transition: filter 0.2s ease-in;
  z-index: 2;
}

.navbar-tab-inactive:hover {
  filter: contrast(1.05);
  transition: filter 0.2s ease-in;
}

.navbar-tab-all {
  cursor: pointer;
}

.navbar-tab-my {
  cursor: pointer;
  transform: translateX(-20%);
}

.navbar-category {
  display: flex;
  grid-area: category;
  overflow: auto;
  -ms-overflow-style: none; /* for ie and edge */
  scrollbar-width: none; /* for firefox */
  text-align: center;
  width: 100%;
}

/* for Chrome, Safari and Opera */
.navbar-category::-webkit-scrollbar {
  display: none;
}

.navbar-category > input {
  display: none;
}

.navbar-category > label {
  cursor: pointer;
}

.category-item {
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px darkgray;
  display: flex;
  filter: contrast(1);
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 20px;
  max-width: 200px;
  min-width: 130px;
  transition: filter 0.3s ease-in-out;
  width: 20%;
}

.category-item:hover {
  filter: contrast(1.2);
  transition: filter 0.3s ease-in-out;
}

.category-item > div {
  font-size: 0.87em;
  padding: 0 0 0 10px;
  text-align: left;
  width: 70%;
}

.category-item > i {
  background: var(--white);
  display: block;
  font-size: 1em;
  height: 14.44px;
  margin: 0 0 0 10px;
  width: 16px;
}
